.wedding-input {
  border: none;
  width: 100%;
  font-size: 14px;
  outline: none; }
  .wedding-input__wrapper {
    padding: 8px 5px;
    border-bottom: 1px solid #F3C019;
    background-color: white;
    margin-top: 10px; }
