.button-wrapper {
    position: relative;
    button {
        background: #FFFFFF;
        border: 1px solid #F3C019;
        padding: 5px 10px;
        color: #82670D;
        font-size: 16px;
        text-transform: uppercase;
        cursor: pointer;
        &:disabled {
            background: rgba(255, 255, 255, 0.387);
            color: rgba(130, 103, 13, 0.374);
            cursor: not-allowed;
        }
    }
}