.form-filler {
  width: 100%; }

.form-button {
  position: absolute;
  right: 0; }

.wedding-form {
  margin-top: 20px; }

.form-image {
  position: absolute;
  left: -420px;
  top: 0;
  width: 442px;
  height: 442px;
  z-index: -1; }
