.accommodation {
  position: relative;
  margin: 50px 5% 0;
  padding-bottom: 60px;
  flex: 1; }
  .accommodation-row {
    display: flex;
    flex: 1;
    display: flex;
    flex-direction: column; }
    @media screen and (min-width: 900px) {
      .accommodation-row {
        padding-top: 50px; } }
    .accommodation-row.right {
      margin-top: 200px; }
      @media screen and (max-width: 900px) {
        .accommodation-row.right {
          margin: 0; } }
  @media screen and (max-width: 900px) {
    .accommodation {
      margin: 0;
      padding-bottom: 20px;
      padding-top: 30px; } }
  .accommodation-button {
    margin-top: 20px; }
  .accommodation__wrapper {
    margin: 5%;
    display: flex; }
    @media screen and (max-width: 900px) {
      .accommodation__wrapper {
        flex-direction: column;
        margin: 0;
        margin-right: 20px;
        margin-top: 80px; } }
