.accommodation {
  position: relative;
  margin: 50px 5% 0;
  padding-bottom: 60px;
  flex: 1; }
  .accommodation-row {
    display: flex;
    flex: 1;
    padding-top: 50px;
    display: flex;
    flex-direction: column; }
    .accommodation-row.right {
      margin-top: 200px; }
  .accommodation-button {
    margin-top: 20px; }
  .accommodation__wrapper {
    margin: 5%;
    display: flex; }
