.accommodation {
	&-row {
		display: flex;
		flex: 1;
		padding-top: 50px;
		display: flex;
		flex-direction: column;
		&.right {
			margin-top: 200px;
		}
	}
	position: relative;
	margin: 50px 5% 0;
	padding-bottom: 60px;
	flex: 1;
	&-button {
		margin-top: 20px;
	}
	&__wrapper {
		margin: 5%;
		display: flex;
	}
}
