.big-time {
    &__image {
        padding-left: 100px;
        padding-top: 100px;
        margin-bottom: -100px;
        @media screen and (max-width: 900px) {
            display: none;
        }
    }
    &__time {
        color: #FFDC66;
        font-size: 200px;
        @media screen and (max-width: 900px) {
            font-size: 100px;
        }
    }
    &__inner {
        position: relative;
    }
    &__body {
        @media screen and (max-width: 900px) {
            margin-right: 20px;
        }
        @media screen and (min-width: 900px) {
            margin-top: 10px;
            position: absolute;
            width: 500px;
            &--right {
                right: 0;
                left: -100px;
            }
            &--left {
                right: 0;
                left: 100px;
            }
        }

    }
    &__wrapper {
        display: flex;
        margin-top: 70px;
        @media screen and (min-width: 900px) {
            justify-content: center;
            margin-top: 100px;
        }
        &--off-center {
            margin-right: 300px;
            @media screen and (max-width: 900px) {
                margin-right: 0;
            }
        }
        &--left {
            margin-left: 100px;
            justify-content: left;
            @media screen and (max-width: 900px) {
                margin-left: 0;
            }
        }
        &--right {
            margin-right: 100px;
            justify-content: flex-end;
            @media screen and (max-width: 900px) {
                margin-right: 0;
            }
            .big-time__time {
                margin-left: 80px;
                @media screen and (max-width: 900px) {
                    margin-left: 0;
                }
            }
        }
    }
}