.big-time__image {
  padding-left: 100px;
  padding-top: 100px;
  margin-bottom: -100px; }
  @media screen and (max-width: 900px) {
    .big-time__image {
      display: none; } }

.big-time__time {
  color: #FFDC66;
  font-size: 200px; }
  @media screen and (max-width: 900px) {
    .big-time__time {
      font-size: 100px; } }

.big-time__inner {
  position: relative; }

@media screen and (max-width: 900px) {
  .big-time__body {
    margin-right: 20px; } }

@media screen and (min-width: 900px) {
  .big-time__body {
    margin-top: 10px;
    position: absolute;
    width: 500px; }
    .big-time__body--right {
      right: 0;
      left: -100px; }
    .big-time__body--left {
      right: 0;
      left: 100px; } }

.big-time__wrapper {
  display: flex;
  margin-top: 70px; }
  @media screen and (min-width: 900px) {
    .big-time__wrapper {
      justify-content: center;
      margin-top: 100px; } }
  .big-time__wrapper--off-center {
    margin-right: 300px; }
    @media screen and (max-width: 900px) {
      .big-time__wrapper--off-center {
        margin-right: 0; } }
  .big-time__wrapper--left {
    margin-left: 100px;
    justify-content: left; }
    @media screen and (max-width: 900px) {
      .big-time__wrapper--left {
        margin-left: 0; } }
  .big-time__wrapper--right {
    margin-right: 100px;
    justify-content: flex-end; }
    @media screen and (max-width: 900px) {
      .big-time__wrapper--right {
        margin-right: 0; } }
    .big-time__wrapper--right .big-time__time {
      margin-left: 80px; }
      @media screen and (max-width: 900px) {
        .big-time__wrapper--right .big-time__time {
          margin-left: 0; } }
