@import '../../colors';
.main {
    position: relative;
    padding-bottom: 150px;
    padding-top: 50px;
    margin-left: 50px;
    background-color: $yellow-light;
    overflow: auto;
    height:100vh;
    margin-left: 100px;
}
.section {
    flex: 1;
    display: flex;
    @media screen and (max-width: 900px) {
        flex-direction: column;
    }
    &-last {
        margin-bottom: 200px;
    }
}
.left-section {
    flex: 1;
    margin-left: 150px;
    &.no-margin {
        margin-left: 0;
    }
}
.right-section {
    position: relative;
    flex: 1;
    margin-right: 120px;
    z-index: 1;
    @media screen and (max-width: 900px) {
        margin-right: 20px;
    }
}
.into-text {
    margin-top: 120px;
    margin-bottom: 120px;
    @media screen and (max-width: 900px) {
        margin-top: 50px;
        margin-bottom: 20px;
    }
    color: $dark-yellow;
}
.big-number {
    font-size: 520px;
    margin-top: 150px;
}
.center-text {
    text-align: center;
}

.off-center-text {
    text-align: end;
}

.big-time-text {
    color: $mid-yellow;
    font-size: 200px;
    &-sub {
        margin-top: -30px;
        margin-left: 15px;
        width: 500px;
        &-left {
            margin-left: -150px;
        }
    }
    &-sub-header {
        margin-bottom: 6px;
        color: $header-yellow;
        font-style: italic;
    }
}

.section-header {
    display: flex;
    justify-content: center;
    justify-content: left;
    align-items: center;
    color: $dark-yellow;
    font-size: 18px;
    &::before {
        content: '';
        height: 1px;
        width: 52px;
        background-color: $yellow;
        margin-right: 10px;
    }
}
.paragraph {
    color: $dark-yellow;
}

.hidden {
    color: transparent;
}

.accommodation-section {
    &-header {
        margin-top: 100px;
    }
    &-row {

    }
}