.wedding-select {
    width: 100%;
    background-color: white;
    margin-top: 10px;
    &:before, &:after {
        background-color: #F3C019!important;
    }
    &__wrapper {
        width: 100%;
        padding-top: 8px;
        label {
            color: #82670D;
            text-transform: uppercase;
            left: 12px;
            top: 8px;
            pointer-events: none;
            z-index: 10;
            font-size: 14px;
        }
        div[role="button"] {
            padding-bottom: 0;
            padding: 5px 15px;
        }
        svg {
            top: 10px;
            right: 8px;
        }
    }
}