.side-nav {
  background-color: #ffffff;
  width: 50px;
  padding: 10px;
  height: 100%;
  position: absolute; }
  .side-nav__items {
    transform: rotate(-90deg) translateX(-100%);
    transform-origin: left top 0;
    position: absolute;
    left: 50%;
    margin-left: -10px;
    line-height: 20px; }
  .side-nav__item {
    padding: 0 10px; }
