.side-nav {
  background-color: transparent;
  width: 100px;
  height: 100%;
  position: absolute;
  padding-top: 50px;
  font-size: 14px; }
  .side-nav__inner {
    padding: 10px; }
  .side-nav__items {
    transform: rotate(-90deg) translateX(-100%);
    transform-origin: left top 0;
    position: absolute;
    left: 50%;
    margin-left: -10px;
    line-height: 20px; }
  .side-nav__item {
    padding: 0 10px; }
