@import './mixins';
@include font-face(Didot, fonts/Didot, null, null, ttf);
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display+SC');
@import 'colors';
@import 'components/side-nav/_side-nav.scss';
@import 'components/main/_main.scss';
@import 'components/big-time/_big-time.scss';
@import 'components/accommodation/_accommodation.scss';
@import 'components/button/_button.scss';
@import 'components/input/_input.scss';
@import 'components/select/_select.scss';
@import 'components/form/_form.scss';

body {
	margin: 0;
	overflow: hidden;
	background: #FCFBF0;
}

.App {
	&__title {
		margin-bottom: 6px;
		color: #82670D;
		font-style: italic;
		font-size: 20px;
		a {
			border-bottom: none;
		}
	}

	&__text {
		color: #82670D;
		font-size: 14px;
		font-family: 'Playfair Display SC', serif;
	}
}

a {
	padding-bottom: 3px;
	border-bottom: 1px solid #82670D;
	text-decoration: none;
	color: inherit;
	font-family: inherit;
	&:link {
		color: inherit;
	}

	/* visited link */
	&:visited {
		color: inherit;
	}

	/* mouse over link */
	&:hover {
		color: inherit;
	}

	/* selected link */
	&:active {
		color: inherit;
	}
}

* {
	font-family: 'Playfair Display', serif;
}
