@import url("https://fonts.googleapis.com/css?family=Playfair+Display");
.side-nav {
  background-color: transparent;
  width: 100px;
  height: 100%;
  position: absolute;
  padding-top: 50px;
  font-size: 14px; }
  .side-nav__inner {
    padding: 10px; }
  .side-nav__items {
    transform: rotate(-90deg) translateX(-100%);
    transform-origin: left top 0;
    position: absolute;
    left: 50%;
    margin-left: -10px;
    line-height: 20px; }
  .side-nav__item {
    padding: 0 10px; }

.main {
  padding-bottom: 150px;
  padding-top: 50px;
  margin-left: 50px;
  background-color: #FCFBF0;
  overflow: auto;
  height: 100vh;
  margin-left: 100px; }

.section {
  flex: 1;
  display: flex; }
  @media screen and (max-width: 900px) {
    .section {
      flex-direction: column; } }

.left-section {
  flex: 1;
  margin-left: 150px; }
  .left-section.no-margin {
    margin-left: 0; }

.right-section {
  flex: 1;
  margin-right: 120px; }
  @media screen and (max-width: 900px) {
    .right-section {
      margin-right: 20px; } }

.into-text {
  margin-top: 120px;
  color: #82670D; }

.big-number {
  font-size: 520px;
  margin-top: 150px; }

.center-text {
  text-align: center; }

.off-center-text {
  text-align: end; }

.big-time-text {
  color: #FFDC66;
  font-size: 200px; }
  .big-time-text-sub {
    margin-top: -30px;
    margin-left: 15px;
    width: 500px; }
    .big-time-text-sub-left {
      margin-left: -150px; }
  .big-time-text-sub-header {
    margin-bottom: 6px;
    color: #E0B116;
    font-style: italic; }

.section-header {
  display: flex;
  justify-content: center;
  justify-content: left;
  align-items: center;
  color: #82670D;
  font-size: 18px; }
  .section-header::before {
    content: '';
    height: 1px;
    width: 52px;
    background-color: #F3C019;
    margin-right: 10px; }

.paragraph {
  color: #82670D; }

.hidden {
  color: transparent; }

.accommodation-section-header {
  margin-top: 100px; }

.big-time__image {
  padding-left: 100px;
  padding-top: 100px;
  margin-bottom: -100px; }

.big-time__time {
  color: #FFDC66;
  font-size: 200px; }
  @media screen and (max-width: 900px) {
    .big-time__time {
      font-size: 100px; } }

.big-time__inner {
  position: relative; }

@media screen and (max-width: 900px) {
  .big-time__body {
    margin-right: 20px; } }

@media screen and (min-width: 900px) {
  .big-time__body {
    margin-top: 10px;
    position: absolute;
    width: 500px; }
    .big-time__body--right {
      right: 0;
      left: -100px; }
    .big-time__body--left {
      right: 0;
      left: 100px; } }

.big-time__wrapper {
  display: flex;
  margin-top: 70px; }
  @media screen and (min-width: 900px) {
    .big-time__wrapper {
      justify-content: center;
      margin-top: 100px; } }
  .big-time__wrapper--off-center {
    margin-right: 300px; }
    @media screen and (max-width: 900px) {
      .big-time__wrapper--off-center {
        margin-right: 0; } }
  .big-time__wrapper--left {
    margin-left: 100px;
    justify-content: left; }
    @media screen and (max-width: 900px) {
      .big-time__wrapper--left {
        margin-left: 0; } }
  .big-time__wrapper--right {
    margin-right: 100px;
    justify-content: flex-end; }
    @media screen and (max-width: 900px) {
      .big-time__wrapper--right {
        margin-right: 0; } }
    .big-time__wrapper--right .big-time__time {
      margin-left: 80px; }
      @media screen and (max-width: 900px) {
        .big-time__wrapper--right .big-time__time {
          margin-left: 0; } }

.accommodation {
  position: relative;
  margin: 50px 5% 0;
  padding-bottom: 60px;
  flex: 1; }
  .accommodation-row {
    display: flex;
    flex: 1;
    padding-top: 50px;
    display: flex;
    flex-direction: column; }
    .accommodation-row.right {
      margin-top: 200px; }
      @media screen and (max-width: 900px) {
        .accommodation-row.right {
          margin: 0; } }
  @media screen and (max-width: 900px) {
    .accommodation {
      margin: 0;
      padding-bottom: 20px; } }
  .accommodation-button {
    margin-top: 20px; }
  .accommodation__wrapper {
    margin: 5%;
    display: flex; }
    @media screen and (max-width: 900px) {
      .accommodation__wrapper {
        flex-direction: column;
        margin: 0;
        margin-right: 20px; } }

.button-wrapper {
  position: relative; }
  .button-wrapper button {
    background: #FFFFFF;
    border: 1px solid #F3C019;
    padding: 5px 10px;
    color: #82670D;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer; }

.wedding-input {
  border: none;
  width: 100%;
  font-size: 14px;
  outline: none;
  text-transform: uppercase;
  color: #82670D; }
  .wedding-input__wrapper {
    padding: 8px 12px;
    border-bottom: 1px solid #F3C019;
    background-color: white;
    margin-top: 10px; }

.wedding-select {
  width: 100%;
  background-color: white;
  margin-top: 10px; }
  .wedding-select:before, .wedding-select:after {
    background-color: #F3C019 !important; }
  .wedding-select__wrapper {
    width: 100%;
    padding-top: 8px; }
    .wedding-select__wrapper label {
      color: #82670D;
      text-transform: uppercase;
      left: 12px;
      top: 8px;
      pointer-events: none;
      z-index: 10;
      font-size: 14px; }
    .wedding-select__wrapper div[role="button"] {
      padding-bottom: 0;
      padding: 5px 15px; }
    .wedding-select__wrapper svg {
      top: 10px;
      right: 8px; }

.form-filler {
  width: 100%; }

.form-button {
  position: absolute;
  right: 0; }

.wedding-form {
  margin-top: 20px; }

body {
  margin: 0;
  overflow: hidden;
  background: #FCFBF0; }

.App__title {
  margin-bottom: 6px;
  color: #E0B116;
  font-style: italic;
  font-size: 18px; }

.App__text {
  color: #82670D;
  font-size: 16px; }

* {
  font-family: 'Playfair Display', serif !important; }
